In [1]:
import pandas as pd
import numpy as np

SECTION 1: Data Understanding
1. Load the dataset into a pandas DataFrame.
2. Display the shape of the dataset.
3. Display the info() and describe() outputs.
4. Check for null values in the dataset.

In [2]:
url="/Users/ayushparoha/Documents/Data_Science/env/college/ass5/Employee_Productivity_Data (1).csv"
df=pd.read_csv(url)

In [3]:
df.shape

(15, 11)

In [11]:
df.sample()

,Employee_ID,Department,Gender,Education_Level,Experience_Years,Monthly_Salary,Projects_Completed,Performance_Rating,Work_Hours_Per_Week,Remote_Work,Promotion_Status
12,E213,IT,Male,Master,10,120000,8,9.4,55,Yes,Promoted

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Employee_ID          15 non-null     object
 1   Department           15 non-null     object
 2   Gender               15 non-null     object
 3   Education_Level      15 non-null     object
 4   Experience_Years     15 non-null     int64
 5   Monthly_Salary       15 non-null     int64
 6   Projects_Completed   15 non-null     int64
 7   Performance_Rating   15 non-null     float64
 8   Work_Hours_Per_Week  15 non-null     int64
 9   Remote_Work          15 non-null     object
 10  Promotion_Status     15 non-null     object
dtypes: float64(1), int64(4), object(6)
memory usage: 1.4+ KB

In [ ]:
df.describe()

,Experience_Years,Monthly_Salary,Projects_Completed,Performance_Rating,Work_Hours_Per_Week
count,15.000000,15.000000,15.000000,15.000000,15.000000
mean,4.933333,70866.666667,4.200000,7.986667,45.333333
std,2.658320,24333.594258,1.971222,0.917969,4.966555
min,1.000000,40000.000000,1.000000,6.500000,38.000000
25%,3.000000,50000.000000,3.000000,7.250000,41.500000
50%,5.000000,72000.000000,4.000000,8.100000,45.000000
75%,6.500000,82000.000000,5.500000,8.750000,49.000000
max,10.000000,120000.000000,8.000000,9.400000,55.000000

In [ ]:
df.isnull().sum()

Employee_ID            0
Department             0
Gender                 0
Education_Level        0
Experience_Years       0
Monthly_Salary         0
Projects_Completed     0
Performance_Rating     0
Work_Hours_Per_Week    0
Remote_Work            0
Promotion_Status       0
dtype: int64

SECTION 2: Filtering
5. Display employees with Monthly_Salary greater than 70,000.
6. Display employees with Experience_Years greater than 5.
7. Display employees who are working remotely (Remote_Work = 'Yes').
8. Create a new column named 'Productivity_Index' defined as:
Productivity_Index = Performance_Rating × Projects_Completed
9. Create a new column named 'Salary_Per_Project'.

In [ ]:
print(df[df['Monthly_Salary']>70000])

   Employee_ID Department  Gender Education_Level  Experience_Years  \
0         E201         IT    Male          Master                 5
2         E203    Finance    Male             MBA                 7
5         E206    Finance    Male        Bachelor                 9
6         E207         HR  Female             MBA                 6
8         E209         IT  Female          Master                 8
10        E211  Marketing    Male             MBA                 5
12        E213         IT    Male          Master                10
13        E214    Finance  Female             MBA                 5

    Monthly_Salary  Projects_Completed  Performance_Rating  \
0            72000                   4                 8.2
2            88000                   6                 8.8
5           110000                   7                 9.1
6            73000                   5                 8.4
8            96000                   6                 9.0
10           75000                   5                 8.7
12          120000                   8                 9.4
13           76000                   4                 8.1

    Work_Hours_Per_Week Remote_Work Promotion_Status
0                    45         Yes         Promoted
2                    50         Yes         Promoted
5                    52          No         Promoted
6                    48         Yes         Promoted
8                    50         Yes         Promoted
10                   46         Yes         Promoted
12                   55         Yes         Promoted
13                   47         Yes         Promoted

In [ ]:
print(df[df["Experience_Years"]>5])

   Employee_ID Department  Gender Education_Level  Experience_Years  \
2         E203    Finance    Male             MBA                 7
5         E206    Finance    Male        Bachelor                 9
6         E207         HR  Female             MBA                 6
8         E209         IT  Female          Master                 8
12        E213         IT    Male          Master                10

    Monthly_Salary  Projects_Completed  Performance_Rating  \
2            88000                   6                 8.8
5           110000                   7                 9.1
6            73000                   5                 8.4
8            96000                   6                 9.0
12          120000                   8                 9.4

    Work_Hours_Per_Week Remote_Work Promotion_Status
2                    50         Yes         Promoted
5                    52          No         Promoted
6                    48         Yes         Promoted
8                    50         Yes         Promoted
12                   55         Yes         Promoted

In [ ]:
print(df[df["Remote_Work"]=="Yes"])

   Employee_ID Department  Gender Education_Level  Experience_Years  \
0         E201         IT    Male          Master                 5
2         E203    Finance    Male             MBA                 7
4         E205  Marketing  Female          Master                 4
6         E207         HR  Female             MBA                 6
8         E209         IT  Female          Master                 8
10        E211  Marketing    Male             MBA                 5
12        E213         IT    Male          Master                10
13        E214    Finance  Female             MBA                 5

    Monthly_Salary  Projects_Completed  Performance_Rating  \
0            72000                   4                 8.2
2            88000                   6                 8.8
4            67000                   4                 7.9
6            73000                   5                 8.4
8            96000                   6                 9.0
10           75000                   5                 8.7
12          120000                   8                 9.4
13           76000                   4                 8.1

    Work_Hours_Per_Week Remote_Work Promotion_Status
0                    45         Yes         Promoted
2                    50         Yes         Promoted
4                    44         Yes         Promoted
6                    48         Yes         Promoted
8                    50         Yes         Promoted
10                   46         Yes         Promoted
12                   55         Yes         Promoted
13                   47         Yes         Promoted

In [7]:
df['Productivity_Index']=df['Performance_Rating']*df['Projects_Completed']

In [8]:
print(df['Productivity_Index'].head())

0    32.8
1    22.5
2    52.8
3    13.8
4    31.6
Name: Productivity_Index, dtype: float64

In [ ]:
df.insert(10,'Salary_Per_Project', df['Monthly_Salary']/df['Projects_Completed'])

In [ ]:
print(df.head())

  Employee_ID Department  Gender Education_Level  Experience_Years  \
0        E201         IT    Male          Master                 5
1        E202         HR  Female        Bachelor                 3
2        E203    Finance    Male             MBA                 7
3        E204         IT  Female        Bachelor                 2
4        E205  Marketing  Female          Master                 4

   Monthly_Salary  Projects_Completed  Performance_Rating  \
0           72000                   4                 8.2
1           48000                   3                 7.5
2           88000                   6                 8.8
3           45000                   2                 6.9
4           67000                   4                 7.9

   Work_Hours_Per_Week Remote_Work  Salary_Per_Project Promotion_Status  \
0                   45         Yes        18000.000000         Promoted
1                   40          No        16000.000000     Not Promoted
2                   50         Yes        14666.666667         Promoted
3                   42          No        22500.000000     Not Promoted
4                   44         Yes        16750.000000         Promoted

   Productivity_Index
0                32.8
1                22.5
2                52.8
3                13.8
4                31.6

SECTION 3: Categorization and Binning
10. Create a new column named 'Performance_Level' based on
Performance_Rating:
- Rating < 7 → Low
- Rating between 7 and 8.5 → Medium
- Rating above 8.5 → High

In [4]:
df['Performance_Level']=pd.cut(df['Performance_Rating'],bins=[0,7,8.5,10],labels=["Low",'Medium','High'])

In [ ]:
print(df['Performance_Level'].head(6))

0    Medium
1    Medium
2      High
3       Low
4    Medium
5      High
Name: Performance_Level, dtype: category
Categories (3, object): ['Low' < 'Medium' < 'High']

SECTION 4: Grouping & Analysis
11. Find the average Monthly_Salary department-wise.
12. Find the average Performance_Rating gender-wise.
13. Count the number of promoted and not promoted employees.
14. Identify which department performs best on average.

In [5]:
print(df.groupby('Department')['Monthly_Salary'].mean())

Department
Finance      78500.000000
HR           58333.333333
IT           83250.000000
Marketing    60250.000000
Name: Monthly_Salary, dtype: float64

In [ ]:
print(df.groupby('Gender')['Performance_Rating'].mean())

Gender
Female    7.637500
Male      8.385714
Name: Performance_Rating, dtype: float64

In [7]:
print(df['Promotion_Status'].value_counts())

Promotion_Status
Promoted        9
Not Promoted    6
Name: count, dtype: int64

In [ ]:
best_dept = df.groupby('Department')['Performance_Rating'].mean().sort_values(ascending=False)
print(best_dept)

Department
IT           8.375000
Finance      8.125000
HR           7.733333
Marketing    7.650000
Name: Performance_Rating, dtype: float64

In [ ]:
print("Best Performing Department:", best_dept.idxmax())

Best Performing Department: IT

SECTION 4: Grouping & Analysis
11. Find the average Monthly_Salary department-wise.
12. Find the average Performance_Rating gender-wise.
13. Count the number of promoted and not promoted employees.
14. Identify which department performs best on average.

In [9]:
df_sorted = df.sort_values(by='Productivity_Index', ascending=False)
print(df_sorted.head())

   Employee_ID Department  Gender Education_Level  Experience_Years  \
12        E213         IT    Male          Master                10
5         E206    Finance    Male        Bachelor                 9
8         E209         IT  Female          Master                 8
2         E203    Finance    Male             MBA                 7
10        E211  Marketing    Male             MBA                 5

    Monthly_Salary  Projects_Completed  Performance_Rating  \
12          120000                   8                 9.4
5           110000                   7                 9.1
8            96000                   6                 9.0
2            88000                   6                 8.8
10           75000                   5                 8.7

    Work_Hours_Per_Week Remote_Work Promotion_Status Performance_Level  \
12                   55         Yes         Promoted              High
5                    52          No         Promoted              High
8                    50         Yes         Promoted              High
2                    50         Yes         Promoted              High
10                   46         Yes         Promoted              High

    Productivity_Index
12                75.2
5                 63.7
8                 54.0
2                 52.8
10                43.5

In [10]:
df['Rank'] = df['Productivity_Index'].rank(method='dense', ascending=False)
print(df[['Employee_ID', 'Productivity_Index', 'Rank']])

   Employee_ID  Productivity_Index  Rank
0         E201                32.8   7.0
1         E202                22.5  10.0
2         E203                52.8   4.0
3         E204                13.8  13.0
4         E205                31.6   9.0
5         E206                63.7   2.0
6         E207                42.0   6.0
7         E208                21.6  12.0
8         E209                54.0   3.0
9         E210                 6.5  15.0
10        E211                43.5   5.0
11        E212                21.9  11.0
12        E213                75.2   1.0
13        E214                32.4   8.0
14        E215                13.6  14.0

In [ ]:

#Creating the 2 dataset containing attendace information 
attendence_df=df[['Employee_ID']].copy()
attendence_df['Attendence_Percentage']=np.random.randint(60,100, size=len(attendence_df))
print(attendence_df)
final_df = pd.merge(df, attendence_df, on='Employee_ID')

   Employee_ID  Attendence_Percentage
0         E201                     63
1         E202                     79
2         E203                     75
3         E204                     75
4         E205                     88
5         E206                     86
6         E207                     83
7         E208                     87
8         E209                     76
9         E210                     68
10        E211                     71
11        E212                     72
12        E213                     87
13        E214                     72
14        E215                     65

In [12]:
final_df.to_csv("Employee.csv", index=False)