In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("/Users/ayushparoha/Documents/Data_Science/env/college/ass5/StudentsPerformance.csv")

In [ ]:
print(df.head())

   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75

In [ ]:
print(df.describe())

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None

In [ ]:
#renaming columns for clarity
df=df.rename(columns={
    'gender':'Gender',
    'race/ethnicity':'Ethnicity',
    'parental level of education':'Parental_educarion',
    'lunch':'Lunch_type',
    'test preparation course':'Test-Prep',
    'math score':'Math_Score',
    'reading score':'Reading_Score',
    'writing score':'Writing_score'
})

In [ ]:
high_math=df[df['Math_Score']>70]
print(high_math)

     Gender Ethnicity  Parental_educarion    Lunch_type  Test-Prep  \
0    female   group B   bachelor's degree      standard       none
2    female   group B     master's degree      standard       none
4      male   group C        some college      standard       none
5    female   group B  associate's degree      standard       none
6    female   group B        some college      standard  completed
..      ...       ...                 ...           ...        ...
984  female   group C    some high school      standard       none
987    male   group E    some high school      standard  completed
990    male   group E         high school  free/reduced  completed
995  female   group E     master's degree      standard  completed
999  female   group D        some college  free/reduced       none

     Math_Score  Reading_Score  Writing_score  Average_Score
0            72             72             74      72.666667
2            90             95             93      92.666667
4            76             78             75      76.333333
5            71             83             78      77.333333
6            88             95             92      91.666667
..          ...            ...            ...            ...
984          74             75             82      77.000000
987          81             75             76      77.333333
990          86             81             75      80.666667
995          88             99             95      94.000000
999          77             86             86      83.000000

[391 rows x 9 columns]

In [ ]:
#students with completed test
prep_completed=df[df["Test-Prep"]=='completed']
print(prep_completed)

     Gender Ethnicity Parental_educarion    Lunch_type  Test-Prep  Math_Score  \
1    female   group C       some college      standard  completed          69
6    female   group B       some college      standard  completed          88
8      male   group D        high school  free/reduced  completed          64
13     male   group A       some college      standard  completed          78
18     male   group C    master's degree  free/reduced  completed          46
..      ...       ...                ...           ...        ...         ...
990    male   group E        high school  free/reduced  completed          86
991  female   group B   some high school      standard  completed          65
995  female   group E    master's degree      standard  completed          88
997  female   group C        high school  free/reduced  completed          59
998  female   group D       some college      standard  completed          68

     Reading_Score  Writing_score  Average_Score
1               90             88      82.333333
6               95             92      91.666667
8               64             67      65.000000
13              72             70      73.333333
18              42             46      44.666667
..             ...            ...            ...
990             81             75      80.666667
991             82             78      75.000000
995             99             95      94.000000
997             71             65      65.000000
998             78             77      74.333333

[358 rows x 9 columns]

In [ ]:
df["Average_Score"]= df[["Math_Score", "Reading_Score", "Writing_score" ]].mean(axis=1)
print(df.columns)

Index(['Gender', 'Ethnicity', 'Parental_educarion', 'Lunch_type', 'Test-Prep',
       'Math_Score', 'Reading_Score', 'Writing_score', 'Average_Score'],
      dtype='object')

In [ ]:
#peformance category
df['Performance_level']=pd.cut(df['Average_Score'],bins=[0,50,75,100],labels=['low','medium','high'])
print(df['Performance_level'])

0      medium
1        high
2        high
3         low
4        high
        ...
995      high
996    medium
997    medium
998    medium
999      high
Name: Performance_level, Length: 1000, dtype: category
Categories (3, object): ['low' < 'medium' < 'high']

In [ ]:
print(df.columns.tolist())

['Gender', 'Ethnicity', 'Parental_educarion', 'Lunch_type', 'Test-Prep', 'Math_Score', 'Reading_Score', 'Writing_score', 'Average_Score', 'Performance_level']

In [ ]:
avg_by_gender = df.groupby("Gender")[["Math_Score", "Reading_Score", "Writing_score"]].mean()
print(avg_by_gender)

        Math_Score  Reading_Score  Writing_score
Gender
female   63.633205      72.608108      72.467181
male     68.728216      65.473029      63.311203

In [ ]:
avg_by_lunch=df.groupby('Lunch_type')['Average₹₹_Score'].mean()

In [ ]:
print(avg_by_lunch)

Lunch_type
free/reduced    62.199061
standard        70.837209
Name: Average_Score, dtype: float64