In [ ]:
import pandas as pd

In [ ]:
df1= pd.read_csv("/Users/ayushparoha/Documents/Data_Science/env/pandas/sales_data_sample.csv", encoding='latin1')
df1.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [ ]:
df1={
    "name": ["ayush", "paroha"],
    "age": [22, 21],
    "city": ["indore", "ujjain"]    
}
df1=pd.DataFrame(df1)
df1

     name  age    city
0   ayush   22  indore
1  paroha   21  ujjain

In [ ]:
df1.to_csv("sample.csv")

In [ ]:
df1.to_excel("sample.xlsx")

In [ ]:
df1.to_excel("sample.xlsx", index=False)

In [ ]:
df1= pd.read_csv("sample.csv")
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2 non-null      int64
 1   name        2 non-null      object
 2   age         2 non-null      int64
 3   city        2 non-null      object
dtypes: int64(2), object(2)
memory usage: 196.0+ bytes

In [ ]:
df2=pd.read_json("sample_Data.json")
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           20 non-null     int64
 1   name         20 non-null     object
 2   description  20 non-null     object
 3   price        20 non-null     float64
 4   category     20 non-null     object
 5   image        20 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 1.1+ KB

In [ ]:
df2.describe()

             id        price
count  20.00000    20.000000
mean   10.50000   507.687000
std     5.91608   373.008199
min     1.00000   129.950000
25%     5.75000   244.237500
50%    10.50000   374.990000
75%    15.25000   724.742500
max    20.00000  1599.990000

In [ ]:
df1.shape

(2, 4)

In [ ]:
df1.columns

Index(['Unnamed: 0', 'name', 'age', 'city'], dtype='object')

In [ ]:
print(df2)

    id                                               name  \
0    1                                    Apple iPhone 12
1    2                                 Samsung Galaxy S21
2    3                                 Sony PlayStation 5
3    4                  LG OLED55CXPUA 55-inch 4K OLED TV
4    5        Bose QuietComfort 35 II Wireless Headphones
5    6                          Fitbit Versa 3 Smartwatch
6    7                             KitchenAid Stand Mixer
7    8                 Dyson V11 Absolute Cordless Vacuum
8    9                         Ninja Foodi Smart XL Grill
9   10                    Canon EOS Rebel T8i DSLR Camera
10  11                                  Apple AirPods Pro
11  12        Bose QuietComfort 35 II Wireless Headphones
12  13                    Fitbit Charge 4 Fitness Tracker
13  14                              Samsung Galaxy Watch3
14  15  Sony WH-1000XM4 Wireless Noise-Cancelling Head...
15  16          Breville Barista Express Espresso Machine
16  17                        Keurig K-Elite Coffee Maker
17  18                     iRobot Roomba i7+ Robot Vacuum
18  19                   Ninja Foodi Digital Air Fry Oven
19  20                   Cuisinart ICE-70 Ice Cream Maker

                                          description    price  \
0   The Apple iPhone 12 features a 6.1-inch Super ...   999.00
1   The Samsung Galaxy S21 features a 6.2-inch Dyn...   799.00
2   The Sony PlayStation 5 features an AMD Zen 2-b...   499.99
3   The LG OLED55CXPUA 55-inch 4K OLED TV features...  1599.99
4   The Bose QuietComfort 35 II Wireless Headphone...   299.00
5   The Fitbit Versa 3 Smartwatch features a built...   229.95
6   The KitchenAid Stand Mixer features a 5-quart ...   399.99
7   The Dyson V11 Absolute Cordless Vacuum feature...   699.99
8   The Ninja Foodi Smart XL Grill features 6-in-1...   279.99
9   The Canon EOS Rebel T8i DSLR Camera features a...   899.00
10  The Apple AirPods Pro feature active noise can...   249.00
11  The Bose QuietComfort 35 II Wireless Headphone...   299.00
12  The Fitbit Charge 4 Fitness Tracker features G...   129.95
13  The Samsung Galaxy Watch3 features a rotating ...   399.99
14  The Sony WH-1000XM4 Wireless Noise-Cancelling ...   349.99
15  The Breville Barista Express Espresso Machine ...   699.95
16  The Keurig K-Elite Coffee Maker features a str...   169.99
17  The iRobot Roomba i7+ Robot Vacuum features au...   799.99
18  The Ninja Foodi Digital Air Fry Oven features ...   209.99
19  The Cuisinart ICE-70 Ice Cream Maker features ...   139.99

           category                                              image
0       Electronics  https://www.apple.com/newsroom/images/product/...
1       Electronics  https://images.samsung.com/is/image/samsung/p6...
2       Electronics  https://www.sony.com/image/44baa604124b770c824...
3       Electronics  https://www.lg.com/us/images/tvs/md07501804/ga...
4       Electronics  https://assets.bose.com/content/dam/Bose_DAM/W...
5       Electronics  https://www.fitbit.com/global/content/dam/fitb...
6    Home & Kitchen  https://www.kitchenaid.com/content/dam/global/...
7   Home Appliances  https://www.dysoncanada.ca/dam/dyson/images/pr...
8    Home & Kitchen  https://www.ninjakitchen.com/medias/Ninja-OP50...
9       Electronics  https://www.canon.com.au/-/media/images/produc...
10      Electronics  https://www.apple.com/v/airpods-pro/b/images/m...
11      Electronics  https://assets.bose.com/content/dam/Bose_DAM/W...
12      Electronics  https://www.fitbit.com/global/content/dam/fitb...
13      Electronics  https://images.samsung.com/is/image/samsung/as...
14      Electronics  https://www.sony.com/image/1cdd6354c4cd21cc4f7...
15   Home & Kitchen  https://www.breville.com/content/dam/breville/...
16   Home & Kitchen  https://www.keurig.com/content/dam/global-ecom...
17   Home & Kitchen  https://store.irobot.com/default/i7-vacuuming-...
18   Home & Kitchen  https://www.ninjakitchen.com/static/img/produc...
19   Home & Kitchen  https://www.cuisinart.com/share/images/product...

In [ ]:
print(df2.head())

   id                                         name  \
0   1                              Apple iPhone 12
1   2                           Samsung Galaxy S21
2   3                           Sony PlayStation 5
3   4            LG OLED55CXPUA 55-inch 4K OLED TV
4   5  Bose QuietComfort 35 II Wireless Headphones

                                         description    price     category  \
0  The Apple iPhone 12 features a 6.1-inch Super ...   999.00  Electronics
1  The Samsung Galaxy S21 features a 6.2-inch Dyn...   799.00  Electronics
2  The Sony PlayStation 5 features an AMD Zen 2-b...   499.99  Electronics
3  The LG OLED55CXPUA 55-inch 4K OLED TV features...  1599.99  Electronics
4  The Bose QuietComfort 35 II Wireless Headphone...   299.00  Electronics

                                               image
0  https://www.apple.com/newsroom/images/product/...
1  https://images.samsung.com/is/image/samsung/p6...
2  https://www.sony.com/image/44baa604124b770c824...
3  https://www.lg.com/us/images/tvs/md07501804/ga...
4  https://assets.bose.com/content/dam/Bose_DAM/W...

In [ ]:
df2["name"]

0                                       Apple iPhone 12
1                                    Samsung Galaxy S21
2                                    Sony PlayStation 5
3                     LG OLED55CXPUA 55-inch 4K OLED TV
4           Bose QuietComfort 35 II Wireless Headphones
5                             Fitbit Versa 3 Smartwatch
6                                KitchenAid Stand Mixer
7                    Dyson V11 Absolute Cordless Vacuum
8                            Ninja Foodi Smart XL Grill
9                       Canon EOS Rebel T8i DSLR Camera
10                                    Apple AirPods Pro
11          Bose QuietComfort 35 II Wireless Headphones
12                      Fitbit Charge 4 Fitness Tracker
13                                Samsung Galaxy Watch3
14    Sony WH-1000XM4 Wireless Noise-Cancelling Head...
15            Breville Barista Express Espresso Machine
16                          Keurig K-Elite Coffee Maker
17                       iRobot Roomba i7+ Robot Vacuum
18                     Ninja Foodi Digital Air Fry Oven
19                     Cuisinart ICE-70 Ice Cream Maker
Name: name, dtype: object

In [ ]:
df2[["name", "price"]]

                                                 name    price
0                                     Apple iPhone 12   999.00
1                                  Samsung Galaxy S21   799.00
2                                  Sony PlayStation 5   499.99
3                   LG OLED55CXPUA 55-inch 4K OLED TV  1599.99
4         Bose QuietComfort 35 II Wireless Headphones   299.00
5                           Fitbit Versa 3 Smartwatch   229.95
6                              KitchenAid Stand Mixer   399.99
7                  Dyson V11 Absolute Cordless Vacuum   699.99
8                          Ninja Foodi Smart XL Grill   279.99
9                     Canon EOS Rebel T8i DSLR Camera   899.00
10                                  Apple AirPods Pro   249.00
11        Bose QuietComfort 35 II Wireless Headphones   299.00
12                    Fitbit Charge 4 Fitness Tracker   129.95
13                              Samsung Galaxy Watch3   399.99
14  Sony WH-1000XM4 Wireless Noise-Cancelling Head...   349.99
15          Breville Barista Express Espresso Machine   699.95
16                        Keurig K-Elite Coffee Maker   169.99
17                     iRobot Roomba i7+ Robot Vacuum   799.99
18                   Ninja Foodi Digital Air Fry Oven   209.99
19                   Cuisinart ICE-70 Ice Cream Maker   139.99

In [ ]:
df2[df2["price"]>500]

,id,name,description,price,category,image
0,1,Apple iPhone 12,The Apple iPhone 12 features a 6.1-inch Super ...,999.00,Electronics,https://www.apple.com/newsroom/images/product/...
1,2,Samsung Galaxy S21,The Samsung Galaxy S21 features a 6.2-inch Dyn...,799.00,Electronics,https://images.samsung.com/is/image/samsung/p6...
3,4,LG OLED55CXPUA 55-inch 4K OLED TV,The LG OLED55CXPUA 55-inch 4K OLED TV features...,1599.99,Electronics,https://www.lg.com/us/images/tvs/md07501804/ga...
7,8,Dyson V11 Absolute Cordless Vacuum,The Dyson V11 Absolute Cordless Vacuum feature...,699.99,Home Appliances,https://www.dysoncanada.ca/dam/dyson/images/pr...
9,10,Canon EOS Rebel T8i DSLR Camera,The Canon EOS Rebel T8i DSLR Camera features a...,899.00,Electronics,https://www.canon.com.au/-/media/images/produc...
15,16,Breville Barista Express Espresso Machine,The Breville Barista Express Espresso Machine ...,699.95,Home & Kitchen,https://www.breville.com/content/dam/breville/...
17,18,iRobot Roomba i7+ Robot Vacuum,The iRobot Roomba i7+ Robot Vacuum features au...,799.99,Home & Kitchen,https://store.irobot.com/default/i7-vacuuming-...

In [ ]:
df2[(df2["price"] > 500) & (df2["category"] == "Electronics")]

,id,name,description,price,category,image
0,1,Apple iPhone 12,The Apple iPhone 12 features a 6.1-inch Super ...,999.00,Electronics,https://www.apple.com/newsroom/images/product/...
1,2,Samsung Galaxy S21,The Samsung Galaxy S21 features a 6.2-inch Dyn...,799.00,Electronics,https://images.samsung.com/is/image/samsung/p6...
3,4,LG OLED55CXPUA 55-inch 4K OLED TV,The LG OLED55CXPUA 55-inch 4K OLED TV features...,1599.99,Electronics,https://www.lg.com/us/images/tvs/md07501804/ga...
9,10,Canon EOS Rebel T8i DSLR Camera,The Canon EOS Rebel T8i DSLR Camera features a...,899.00,Electronics,https://www.canon.com.au/-/media/images/produc...